.topPart {
  background-image: url("/images/foodgrey.png");
  background-color: #9fc2e3;
  position: relative;
  height: 400px;
  width: 100%;
  /* z-index: 5; */
  display: flex;
  margin-bottom: 55px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 120px;
}
.yourName {
  font-weight: 100;
  color: black;
  font-size: 28px;
  border: 2px solid black;
}
